{% extends 'base.html' %}
{% block content %}
<h3>{{ cat.title }}</h3>
<div class="row g-4">
    {% for product in products %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{ product.title }}</h5>
          <p class="card-text"><strong>{{ product.price }}</strong> so'm</p>
          <p class="card-text">Miqdori: {{ product.quantity }} <small>(dona, kg, tonna)</small></p>
          <p class="card-text">
            Mahsulot egasi: <i>{{ product.user.username }}</i>
          </p>
          <p class="card-text">Category: {{ product.category.title }}</p>
          <div class="d-flex justify-content-between">
            <a href="{% url 'product-detail' product.pk %}" class="btn btn-primary btn-sm">Ko‘rish</a>
            <a href="{% url 'order' product.pk  %}" class="btn btn-success btn-sm">Sotib olish</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock %}